body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.chatbox__support {
    background: #f9f9f9;
    height: 450px;
    width: 350px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.container {
    width: 300px;
    background-color: rgba(167, 244, 116, 0.3);
    padding: 20px;
    border-radius: 10px;
}

h2 {
    margin-top: 0;
    text-align: center;
    font-size: 24px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 18px;
    color: #333;
}

input[type="email"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
}

button[type="button"] {
    width: 100%;
    padding: 10px;
    background-color: #009688;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

button[type="button"]:hover {
    background-color: #00796b;
}